/* CSS version 2.0 https: //github.com/stadium-software/popups */
html {
    /*The popup background*/
    & .custom-modal-background {
        position: fixed;
        display: grid;
        justify-items: center;
        align-items: var(--modal-content-alignment, start);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: var(--modal-background-background-color, rgba(0, 0, 0, 0.5));
        z-index: 1000;
    }
    /*The popup window*/
    & .custom-modal-content {
        display: inline-block;
        margin-top: var(--modal-content-pixels-from-top, 60px);
        background-color: var(--modal-content-background-color, #ffffff);
        border-radius: 6px;
        border: 1px solid var(--modal-content-border-color, #2196f3);
        padding: var(--modal-content-top-padding) var(--modal-content-right-padding) var(--modal-content-bottom-padding) var(--modal-content-left-padding);
        box-shadow: var(--modal-content-shadow-color, rgba(0, 0, 0, 0.45)) 0px 5px 15px;
        overflow: auto;
        max-height: calc(96vh - var(--modal-content-pixels-from-top, 0));
        max-width: 96vw;
        z-index: 1001;
    }
    & .iframe-background {
        position: absolute;
        z-index: -1;
        height: 100vh;
        width: 100vw;
        top: -2px;
        left: -2px;
    }
}