/*Adjust these variables to customise the popup*/
:root {
    /*Version 1.0*/
    --modal-background-background-color: rgba(0, 0, 0, 0.5);
    
    --modal-content-background-color: #ffffff;
    --modal-content-border-color: #2196f3;
    --modal-content-shadow-color: rgba(0, 0, 0, 0.45);
    --modal-content-alignment: start; /*start or center*/
    --modal-content-pixels-from-top: 40px; /*This will only work if the --modal-content-alignment variable is set to 'start'*/
    --some-other-variable: somecode;
}
